<div class="row justify-content-center">
    <div  class="col-8 text-center" *ngIf="jugador">
        <h1>Jugador : {{jugador.nombre}}</h1>
        <div>
            <img width="150px" src="jugador.imagen" alt="imagen"/>
            <h2>{{jugador.posicion}}</h2>
            <h3>Fecha de Nacimiento : {{jugador.fechaNacimiento}}</h3>
            <h4>Pais : {{jugador.pais}}</h4><br/>
            <a class="btn btn-danger" [routerLink]="['/tablajugadores',jugador.idEquipo]">Volver</a>
        </div>
    </div>
</div>