<div class="row justify-content-center">
    <div class="col-8 text-center">
        <br/>
        <h1>Tabla Departamentos</h1>
        <br/>
        <table class="table table-striped" border="2" *ngIf="departamentos">
            <thead>
                <th>Numero</th>
                <th>Nombre</th>
                <th>Localidad</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                <tr *ngFor="let dept of departamentos">
                    <td>{{dept.numero}}</td>
                    <td>{{dept.nombre}}</td>
                    <td>{{dept.localidad}}</td>
                    <td>
                        <a class="btn btn-secondary" [routerLink]="['/editar', dept.numero, dept.nombre, dept.localidad]">Editar</a>{{" "}}
                        <button class="btn btn-danger" (click)="eliminarDepartamento(dept.numero)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
