<ul id="menu">
    <li>
        <a [routerLink]="['/home']">Home{{" "}}</a>
    </li>
    <li>
        <a [routerLink]="['/musica']">Música{{" "}}</a>
    </li>
    <li>
        <a [routerLink]="['/cine']">Cine{{" "}}</a>
    </li>
    <li>
        <a [routerLink]="['/television']">Televisión{{" "}}</a>
    </li>
    <li>
        <a [routerLink]="['/numeroDoble']">Doble{{" "}}</a>
    </li>
    <li>
        <a [routerLink]="['/numeroDoble/7']">Doble con Parámetro{{" "}}</a>
    </li>
    <li>
        <a [routerLink]="['/listaproductos']">Productos{{" "}}</a>
    </li>
    <li>
        <a [routerLink]="['/coche']">Coche{{" "}}</a>
    </li>
</ul>