<h1>API Empleados</h1>

<select name="selectoficio" #selectoficio>
    <option *ngFor="let oficio of oficios" value="{{oficio}}">{{oficio}}</option>
</select>
<button (click)="cargaEmpleadosOficio()">Mostrar</button>

<hr/>

<table *ngIf="empleados">
    <thead>
        <th>Apellido</th>
        <th>Oficio</th>
        <th>Salario</th>
    </thead>
    <tbody>
        <tr *ngFor="let empleado of empleados">
            <td>{{empleado.apellido}}</td>
            <td>{{empleado.oficio}}</td>
            <td>{{empleado.salario}}</td>
        </tr>
    </tbody>
</table>
